html, body, webview {
    width: 100%;
    height: 100%;
    background: #252525;
    overflow: hidden;
}
body {
    font-family: Helvetica, Arial;
    font-size: medium;
    color: #f0e7d5;
}
#page-wrap {
    width: 360px;
    margin: 0 auto;
}
.tabs {
    width: 100%;
    background-color: #bbb;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(0.5, #d0d0d0), color-stop(1, #a4a4a4));
    margin: 0 16px 16px 0;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs li:hover {
    background-color: #ddd;
}
.tabs li {
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 0.8em;
    cursor: pointer;
    color: #444;
    text-align: center;
    text-shadow: #f7f7f7 0 1px 1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #888;
}
.tabs li:first-child {
    border-left: none;
    border-radius: 6px 0 0 6px;
}
.tabs .selected {
    background-color: #444 !important;
    color: white;
    text-shadow: none;
    border-right-color: #aaa;
    border-left: none;
    box-shadow: inset 1px 2px 6px #070707;
}
.fullscreen {
    position: fixed;
    bottom: 2px;
    right: 2px;
    -webkit-filter: brightness(.75);
    filter: brightness(50);
}
.fullscreen:hover {
    cursor: default;
    -webkit-filter: brightness(1);
    filter: brightness(100);
}
.main {
    display: block;
    margin: 24px;
}
.label {
    padding-top: 4px;
    height: 32px;
    cursor: default;
}
.output {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    white-space: pre;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* Padding to hide scrollbar */
    padding-right: 10000px;
    color: #f0e7d5;
}
.led {
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: #000 0px 0px 1px 0px, -2px -4px 12px 2px inset, 0px 0px 10px 0px;
}
.led.green {
    color: #6eb300;
}
.led.red {
    color: #b30600;
}
.led.blue {
    color: #004ab3;
}
.led.gray {
    box-shadow: #222 0px 0px 1px 0px, -2px -4px 12px 2px inset, 0px 0px 10px 0px !important;
    color: #252525;
}
.ledColumn {
    float: left;
    padding-right: 8px;
    padding-bottom: 16px;
}
.ledTextColumn {
    padding-bottom: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.settingsLabelColumn {
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.settingsValueColumn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
