body {
    font-family: Helvetica, Arial;
}
textarea {
    display: block;
    width: 99%;
    height: 100%;
    font-size: medium;
    white-space: nowrap;
    overflow: auto;
}
.tabs {
    background-color: #bbb;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(0.5, #d0d0d0), color-stop(1, #a4a4a4));
    margin: 10px 0 16px 0;
    font-size: 0px;
}
.tabs li:hover {
    background-color: #ddd;
}
.tabs li {
    font-size: large;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 1.5em;
    cursor: pointer;
    color: #444;
    text-shadow: #f7f7f7 0 1px 1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #888;
}
.tabs li:first-child {
    border-left: none;
    border-radius: 6px 0 0 6px;
}
.tabs li:last-child {
    float: right;
    border-right: none;
    border-radius: 0 6px 6px 0;
}
.tabs .selected {
    background-color: #444 !important;
    color: white;
    text-shadow: none;
    border-right-color: #aaa;
    border-left: none;
    box-shadow: inset 1px 2px 6px #070707;
}
